/* Add your own CSS under here */

h1 {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 24px;
    font-weight : bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

label,a {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px; 
    font-weight: normal;
    margin-top: 10px;
}

.required:after {
    content:"*";
    color:red;
    margin-left: 5px;
}

.required > span {
    color:red;
}

.form-group {
    margin-bottom: 20px;
}
.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #34495e;
}

small {
    font-size: 12px;
}

body {
    background-color: #f8f9fa;
  }
  
  .mission-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .mission-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #343a40;
  }
  
  .mission-details {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #6c757d;
  }
  
  .mission-description {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #343a40;
  }

  /* Center the modal */
.modal {
    text-align: center;
  }
  
  /* Style the modal content */
  .modal-content {
    display: inline-block;
    text-align: left;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    opacity: 0.5;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style the modal header */
  .modal-header {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style the modal body */
  .modal-body {
    padding: 20px;
  }
  
  /* Style the modal footer */
  .modal-footer {
    padding: 10px 20px;
    background-color: #f9f9f9;
  }
  
  /* Style the backdrop */
  .modal-backdrop {
    background-color: #000;
    opacity: 0.5;
  }